<main class="flex flex-col gap-8 px-12 py-[5vh] font-Rubik">
  <table class="relative flex flex-col h-[77.5vh]">
    <app-table-header (filterEvent)="onFilterEvent($event)"/>
    <tbody (click)="handleDetailsModalToggle($event)"
           class="overflow-x-hidden w-full h-full flex flex-col [&>*:nth-child(even)]:bg-neutral-700 [&>*:nth-child(odd)]:bg-neutral-800">
    <app-table-item *ngFor="let suspicious of suspiciousRequestData" [suspicious]="suspicious"/>
    </tbody>
    <mat-paginator
      #paginator
      color="primary" class="bg-neutral-600 rounded-b"
      [showFirstLastButtons]="true"
      [length]="paginationSettings.totalSize"
      [pageSize]="paginationSettings.currentSize"
      [pageSizeOptions]="[10, 50, 100]"
      (page)="onPageChangeEvent($event)"
      aria-label="Select page">
    </mat-paginator>
    <ng-container *ngIf="isDetailsModalOpened">
      <app-details-modal [suspicious]="selectedSuspicious"/>
      <app-overlay (click)="handleDetailsModalToggle($event)"/>
    </ng-container>
  </table>
</main>
