<tr class="grid grid-cols-[repeat(3,1fr),10%] items-center font-Poppins justify-items-start gap-5 rounded-t bg-neutral-900 p-3 text-sky-400 ">
  <th class="relative ml-2 w-full px-2">
    <p class="flex w-full cursor-pointer items-center gap-2" (click)="toggleReceiverFilter()">
      Receiver
      <picture class=" w-8 h-8 {{isReceiverFilterOpened ? 'rotate-0' : 'rotate-90'}} transition-all duration-500 ">
        <svg class="h-full w-full fill-sky-500" ><use href="assets/sprite.svg#icon-arrow-down"></use></svg>
      </picture>
    </p>
    <app-receiver-filter (receiverFilterSubmitEvent)="setReceiverFilter($event)" [isReceiverFilterOpened]="isReceiverFilterOpened"></app-receiver-filter>
  </th>
  <th class="ml-2 cursor-pointer px-2">Subject</th>
  <th class="relative ml-2 w-full px-2">
    <p class="ml-2 flex w-full cursor-pointer items-center gap-2" (click)="toggleDateFilter()">
      Date
      <picture class="w-8 h-8 {{isDateFilterOpened ? 'rotate-0' : 'rotate-90'}} transition-all duration-500 ">
        <svg class="h-full w-full fill-sky-500" ><use href="assets/sprite.svg#icon-arrow-down"></use></svg>
      </picture>
    </p>
    <app-date-filter (dateFilterChangeEvent)="setDateFilters($event)" [isDateFilterOpened]="isDateFilterOpened"/>
  </th>
</tr>

