<table class="relative flex flex-col h-[calc(100vh-8vh-10vh-6rem-3rem)]">
  <app-receiver-header (filterEvent)="onFilter($event)"></app-receiver-header>
  <mat-divider class="bg-fuchsia-600" ></mat-divider>
  <tbody  class="overflow-x-hidden w-full h-full flex flex-col [&>*:nth-child(even)]:bg-neutral-900 [&>*:nth-child(odd)]:bg-neutral-800">
  <!--  <app-receiver-item *ngFor="let data of emailData" [data]="data"/>-->
  <!--(spanValueSend)="getSpanValue($event)"-->
  <app-receiver-item *ngFor="let data of emailData"  (click)="handleDetailsModalToggle($event)" [data]="data" />
  </tbody>
  <mat-divider class="bg-fuchsia-600" ></mat-divider>
  <mat-paginator
    #paginator
    class="bg-neutral-900 rounded-b"
    [showFirstLastButtons]="true"
    [length]="paginationConfigs.totalSize"
    [pageSize]="paginationConfigs.currentSize"
    [pageSizeOptions]="[10, 50, 100]"
    (page)="onPageChangeEvent($event)"
    aria-label="Select page">
  </mat-paginator>
  <ng-container *ngIf="isDetailsModalOpened">
    <!--    [infosForMail]="infosForMail"-->
    <app-receiver-details [selectedInfo]="selectedInfo"/>
    <app-overlay (click)="handleDetailsModalToggle($event)"/>
  </ng-container>
</table>
