body {
    background-image: url("src\assets\image\deneme.png");
    background-attachment: fixed;

}
html, body { height: 100%; }    
.mat-toolbar.mat-primary {
    background: black;
    color: #fff;
  }
