<main class="flex flex-col h-full px-[5vw] py-[2.5vw] font-Rubik">
  <table class="w-full h-min " *ngIf="(servers$|async)?.data as servers" mat-table [dataSource]="(servers)">
    <ng-container matColumnDef="potName">
      <th class="text-sky-500" mat-header-cell *matHeaderCellDef>Pot</th>
      <td mat-cell *matCellDef="let server"> {{server.potRef}} </td>
    </ng-container>
    <ng-container matColumnDef="hostName">
      <th class="text-sky-500" mat-header-cell *matHeaderCellDef>Host Name</th>
      <td mat-cell *matCellDef="let server"> {{server.hostName}} </td>
    </ng-container>
    <ng-container matColumnDef="host">
      <th class="text-sky-500" mat-header-cell *matHeaderCellDef>Host</th>
      <td mat-cell *matCellDef="let server"> {{server.host}} </td>
    </ng-container>
    <ng-container matColumnDef="port">
      <th class="text-sky-500" mat-header-cell *matHeaderCellDef>Port</th>
      <td mat-cell *matCellDef="let server"> {{server.port}} </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th class="text-sky-500" mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let server">
        <mat-select class="bg-neutral-600 rounded py-1" placeholder="{{server.status}}">
          <mat-option *ngIf="server.status !== 'INACTIVE'" value="INACTIVE" class="text-neutral-100">INACTIVE</mat-option>
          <mat-option *ngIf="server.status !== 'ACTIVE'" value="ACTIVE" class="text-neutral-100">ACTIVE</mat-option>
        </mat-select>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      class="cursor-pointer [&:nth-of-type(even)]:bg-neutral-700 [&:nth-of-type(odd)]:bg-neutral-800 [&]:hover:bg-sky-600 transition-all duration-300"
      mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator
    class="mt-auto"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Server information table pagination">
  </mat-paginator>
</main>
