<table class="relative flex flex-col h-[calc(100vh-8vh-10vh-6rem-3rem)]">
  <app-table-header (filterEvent)="onFilterEvent($event)"/>
  <tbody (click)="handleDetailsModalToggle($event)"
         class="overflow-x-hidden w-full h-full flex flex-col [&>*:nth-child(even)]:bg-neutral-700 [&>*:nth-child(odd)]:bg-neutral-600">
  <app-table-item *ngFor="let suspicious of suspiciousRequestData" [suspicious]="suspicious"/>
  </tbody>
  <mat-paginator
    #paginator
    class="bg-neutral-900/25 rounded-b"
    [showFirstLastButtons]="true"
    [length]="paginationSettings.totalSize"
    [pageSize]="paginationSettings.currentSize"
    [pageSizeOptions]="[10, 50, 100]"
    (page)="onPageChangeEvent($event)"
    aria-label="Select page">
  </mat-paginator>
  <ng-container *ngIf="isDetailsModalOpened">
    <app-details-modal [suspicious]="selectedSuspicious"/>
    <app-overlay (click)="handleDetailsModalToggle($event)"/>
  </ng-container>

</table>
