@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body{
   margin: 0;
}

.sidebar{
   position: absolute;
   width: 300px;
   right: 1px;
   bottom: 0;
   height: 400px;
   background: #393636;
}

.sidebar h1{
   display: block;
   padding: 10px 25px;
   color: #fff;
   text-decoration: none;
   font-family: "Rubik";
   letter-spacing: 2px;
   font-weight: 400;
   margin: 0;
   font-size: 35px;
   text-transform: uppercase;
}

.sidebar a{
   display: block;
   padding: 20px 45px;
   color: #bbb;
   text-decoration: none;
   font-family: "Rubik";
   font-size: 15px;
   letter-spacing: 2px;
}

.sidebar a:hover{
   color: #fff;
   margin-left: 25px;
   transition: 0.4s;
}
input[type=text], select, textarea {
   width: 100%; 
   padding: 12px;  
   border: 1px solid #ccc; 
   border-radius: 4px; 
   box-sizing: border-box; 
   margin-top: 6px; 
   margin-bottom: 16px; 
   resize: vertical 
 }
 input[type=email], select, textarea {
   width: 100%; 
   padding: 12px;  
   border: 1px solid #ccc; 
   border-radius: 4px; 
   box-sizing: border-box; 
   margin-top: 6px; 
   margin-bottom: 16px; 
   resize: vertical 
 }
 input[type=submit] {
   background-color: #04AA6D;
   color: white;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
 }
 input[type=submit]:hover {
   background-color: #45a049;
 }
 .container {
   border-radius: 5px;
   background-color: #f2f2f2;
   padding: 20px;
 } 


