<tr data-id="{{suspicious.id}}" class="grid items-center cursor-pointer grid-cols-5 gap-5 h-14 px-3 hover:bg-sky-600 transition-all duration-300">
  <td class="max-w-min truncate text-neutral-100 hover:bg-sky-900 px-2 hover:rounded-md transition-all duration-300">{{suspicious.origin.source}}</td>
  <td class="max-w-min truncate text-neutral-100 hover:bg-sky-900 px-2 hover:rounded-md transition-all duration-300">{{suspicious.category}}</td>
  <td class="max-w-min truncate text-neutral-100 hover:bg-sky-900 px-2 hover:rounded-md transition-all duration-300">{{suspicious.potName}}</td>
  <td class="max-w-min truncate text-neutral-100 hover:bg-sky-900 px-2 hover:rounded-md transition-all duration-300">
    <span *ngIf="suspicious.payload.username">{{suspicious.payload.username}} </span>
    <span *ngIf="suspicious.payload.password">{{suspicious.payload.password}}</span>
    <span *ngIf="suspicious.payload.path">{{suspicious.payload.path}}</span>
    <span *ngIf="suspicious.payload.targetElementId">{{suspicious.payload.targetElementId}}</span>
    <span *ngIf="suspicious.payload.subject">{{suspicious.payload.subject}}</span>
    <span *ngIf="suspicious.payload.filename">{{suspicious.payload.filename}}</span>
  </td>
  <td class="max-w-min truncate text-neutral-100 hover:bg-sky-900 px-2 hover:rounded-md transition-all duration-300">
    {{suspicious.date | date: 'dd/MM/yyyy-HH:mm:ss'}}
  </td>
</tr>
