<tr data-id="{{suspicious.id}}" class="grid h-14 cursor-pointer grid-cols-5 items-center gap-5 px-3 transition-all duration-300 hover:bg-sky-600">
  <td class="max-w-min truncate px-2 text-neutral-100 transition-all duration-300 hover:bg-sky-900 hover:rounded-md">{{suspicious.origin.source}}</td>
  <td class="max-w-min truncate px-2 text-neutral-100 transition-all duration-300 hover:bg-sky-900 hover:rounded-md">{{suspicious.category}}</td>
  <td class="max-w-min truncate px-2 text-neutral-100 transition-all duration-300 hover:bg-sky-900 hover:rounded-md">{{suspicious.potName}}</td>
  <td class="max-w-min truncate px-2 text-neutral-100 transition-all duration-300 hover:bg-sky-900 hover:rounded-md">
    <span *ngIf="suspicious.payload.username">{{suspicious.payload.username}} </span>
    <span *ngIf="suspicious.payload.password">{{suspicious.payload.password}}</span>
    <span *ngIf="suspicious.payload.path">{{suspicious.payload.path}}</span>
    <span *ngIf="suspicious.payload.targetElementId">{{suspicious.payload.targetElementId}}</span>
    <span *ngIf="suspicious.payload.subject">{{suspicious.payload.subject}}</span>
    <span *ngIf="suspicious.payload.filename">{{suspicious.payload.filename}}</span>
  </td>
  <td class="max-w-min truncate px-2 text-neutral-100 transition-all duration-300 hover:bg-sky-900 hover:rounded-md">
    {{suspicious.date | date: 'dd/MM/yyyy-HH:mm:ss'}}
  </td>
</tr>
