<main class="grid grid-cols-2 grid-rows-1 gap-12 px-[8.5vw] py-[3.5vw]">
    <app-pot-item *ngFor="let pot of (pots$ | async)?.data" [pot]="pot">
    </app-pot-item>
    <div class="relative flex cursor-pointer items-center justify-center rounded-md bg-neutral-900/50 shadow shadow-neutral-800 transition-all duration-300 font-Rubik h-[37.5vh] hover:scale-105 [&>svg]:hover:fill-sky-500" >
      <svg class="h-16 w-16 fill-neutral-700">
        <use href="assets/sprite.svg#icon-plus-circle"></use>
      </svg>
    </div>
</main>
