<header  class="w-full h-full bg-neutral-800 rounded-lg shadow-md shadow-neutral-950">
  <nav class="h-full flex items-center px-12">
    <p class="text-base font-Rubik text-sky-500 capitalize">{{page}}</p>
    <picture [routerLink]="['/profile']" class="h-10 w-10 flex items-center justify-center ml-auto bg-neutral-800 transition-all duration-200
    rounded-full hover:bg-neutral-600 cursor-pointer">
      <svg class="w-6 h-6 fill-sky-500"><use href="assets/sprite.svg#icon-user"></use></svg>
    </picture>
  </nav>
</header>
