@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body{
   margin: 0;
}

.sidebar{
   position: fixed;
   height: 100%;
   width: 250px;
   left: 0;
   bottom: 0;
   background: #3a3737;
   padding-top: 50px;
}

.sidebar h1{
   display: block;
   padding: 10px 25px;
   color: #fff;
   text-decoration: none;
   font-family: "Rubik";
   letter-spacing: 2px;
   font-weight: 400;
   margin: 0;
   font-size: 35px;
   text-transform: uppercase;
}

.sidebar a{
   display: block;
   padding: 20px 45px;
   color: #bbb;
   text-decoration: none;
   font-family: "Rubik";
   font-size: 15px;
   letter-spacing: 2px;
}

.sidebar a:hover{
   color: #fff;
   margin-left: 25px;
   transition: 0.4s;
}



