@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Rubik:wght@400;500;700&display=swap');
@import 'ngx-toastr/toastr';

@tailwind base;
@tailwind components;
@tailwind utilities;

*,*::before,*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar{
  width: 0.25rem;
}

*::-webkit-scrollbar-track{
  background-color:#075985;
  border-radius: .25rem;
}

*::-webkit-scrollbar-thumb{
  background-color: #0ea5e9;
  border-radius: .25rem;
}

*::-webkit-scrollbar-thumb:hover{
  background-color: #38bdf8;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgb(245 245 245);
}

.toast-success, .toast-error, .toast-info, .toast-warning {
  background-image: none;
}
