@use '@angular/material' as mat;

@include mat.core();

$app-primary: mat.define-palette(mat.$light-blue-palette,300);
$app-accent: mat.define-palette(mat.$grey-palette);
$app-warn: mat.define-palette(mat.$red-palette);
$app-theme: mat.define-dark-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,
  ),
  density:0
));

@include mat.paginator-theme($app-theme);
@include mat.select-theme($app-theme);
@include mat.divider-theme($app-theme);
@include mat.core-theme($app-theme);
@include mat.tooltip-theme($app-theme);
@include mat.stepper-theme($app-theme);
@include mat.progress-spinner-theme($app-theme);
@include mat.chips-theme($app-theme);
