@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$blue-palette);
$my-accent: mat.define-palette(mat.$blue-gray-palette);
$my-warn: mat.define-palette(mat.$red-palette);
$my-theme: mat.define-dark-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  ),
  density:0
));

@include mat.paginator-theme($my-theme);
@include mat.select-theme($my-theme);
@include mat.divider-theme($my-theme);
@include mat.core-theme($my-theme);
@include mat.tooltip-theme($my-theme);
@include mat.stepper-theme($my-theme);
