<div class="flex h-12 w-full items-center justify-between rounded bg-neutral-900 ring-2 ring-neutral-700">
  <input type="text" class="border-e-2 border-neutral-700 cursor-pointer w-full h-full bg-transparent text-neutral-100 px-8
   hover:border-0 hover:outline-0 hover:ring-2 hover:ring-sky-500 hover:rounded-l hover:ring-inset
   focus:border-0 focus:outline-0 focus:ring-2 focus:ring-sky-500 focus:rounded-l focus:ring-inset"
         placeholder="Search a report">
  <div
    class="flex h-full w-20 cursor-pointer items-center justify-center px-1 hover:ring-inset hover:border-0 hover:outline-0 hover:ring-2 hover:ring-sky-500 hover:rounded-r">
    <svg class="h-6 w-6 fill-sky-500">
      <use href="assets/sprite.svg#icon-calendar"></use>
    </svg>
  </div>
</div>
