<div class="flex flex-col gap-6">
  <svg (click)="onUfuSettingsCloseClick()" class="absolute top-5 right-5 h-8 w-8 cursor-pointer fill-sky-500"><use href="assets/sprite.svg#icon-clear"></use></svg>
  <h2 class="text-center text-2xl text-neutral-50">Unrestricted File Upload Pot Settings</h2>
  <p class="text-sm text-neutral-400" >You can setup Unrestricted File Upload Pot here. It will be unique for your firm and will
    listen suspicious activities on them. You can stop its process and shutdown it whenever you want.</p>
  <button (click)="onSetupClick()" class="h-10 w-36 bg-sky-400 text-neutral-800 rounded">Setup</button>
</div>

