<div (click)="onFirmSelect()"
     class="relative font-Rubik flex flex-col rounded-xl transition-all duration-300 shadow hover:ring-sky-400 hover:ring-2 shadow-neutral-900 {{switchSubject.value && 'ring-2 ring-sky-300'}} bg-neutral-900 h-[37.5vh]">
  <picture class="relative z-10 h-[85%]">
    <img priority=true ngSrc="http://localhost:8080/firm/image/{{firm.id}}" alt="firm logo" fill=true
         class="object-contain p-10">
  </picture>
  <svg *ngIf="switchSubject.value" class="absolute top-5 right-5 z-20 h-6 w-6 fill-sky-400">
    <use href="assets/sprite.svg#icon-eye"></use>
  </svg>
  <svg *ngIf="!switchSubject.value" class="absolute top-5 right-5 z-20 h-6 w-6 fill-sky-400">
    <use href="assets/sprite.svg#icon-eye-off"></use>
  </svg>
  <div
    class="z-20 flex w-full flex-col items-center justify-center gap-4 rounded-b-xl bg-sky-700 px-6 text-center h-[15%]">
    <h1 class="text-xl font-bold text-neutral-50">{{firm.firmName}}</h1>
  </div>
</div>
