<div
  class="fixed inset-1/2 z-30 flex h-max w-2/5 -translate-x-1/2 -translate-y-1/2 flex-col gap-6 bg-neutral-800 px-8 py-10 font-Poppins">
  <svg (click)="onModalCloseClick()" class="absolute top-5 right-5 h-8 w-8 cursor-pointer fill-sky-500"><use href="assets/sprite.svg#icon-clear"></use></svg>
  <h2 class="text-center text-2xl text-neutral-50">Phishing E-Mail Pot Settings</h2>
  <section class="flex w-full flex-col gap-2">
    <h3 class="flex flex-col gap-1 text-lg text-sky-400">
      Start Listen New Mail
      <span class="text-justify text-sm text-neutral-400">
      Enter your e-mail's credentials to start listening. An automated process will start and control unread mails in your inbox for every ten minutes.
      </span>
    </h3>
    <form [formGroup]="emailListenerForm" (submit)="onSetupModalFormSubmit()" class="flex flex-col gap-4">
      <div class="flex items-end justify-between gap-2">
        <div class="flex w-full flex-col gap-1">
          <label class="text-neutral-100" for="email">E-Mail</label>
          <input formControlName="email" type="email" id="email" name="email" placeholder="E-Mail"
                 class="h-12 w-full rounded-md bg-neutral-700 px-4 py-2 text-neutral-50 shadow shadow-neutral-900 focus:outline-0 focus:ring-2 focus:ring-sky-500"/>
        </div>
        <div class="flex w-full flex-col gap-1">
          <label class="text-neutral-100" for="password">Password</label>
          <input formControlName="password" type="password" id="password" name="password" placeholder="Password"
                 class="h-12 w-full rounded-md bg-neutral-700 px-4 py-2 text-neutral-50 shadow shadow-neutral-900 focus:outline-0 focus:ring-2 focus:ring-sky-500"/>
        </div>
        <button type="submit"
                class="flex h-12 w-32 items-center justify-center rounded-md bg-neutral-700 text-neutral-800 shadow shadow-neutral-900 transition-all duration-200 hover:bg-neutral-600">
          <svg class="h-6 w-6 fill-sky-400">
            <use href="assets/sprite.svg#icon-plus-circle"></use>
          </svg>
        </button>
      </div>
    </form>
  </section>

  <section class="flex flex-col gap-2">
    <h3 class="flex flex-col gap-1 text-lg text-sky-400">
      Currently Listening Mails
      <span class="text-justify text-sm text-neutral-400">
      Currently listening mails are listed below. You can toggle listening status of each mail or delete them.
    </span>
    </h3>
    <div class="flex flex-col gap-1">
      <div class="flex h-12 justify-between gap-2 rounded-md"
           *ngFor="let emailListener of (emailListeners | async)?.data ">
        <p
          class="flex h-10 w-full items-center justify-between rounded-md bg-neutral-700 px-4 shadow shadow-neutral-900 transition-all duration-200 hover:bg-neutral-600">
          <span class="text-neutral-100">{{emailListener.email}}</span>
          <span (click)="onMailListenerToggleStatus(emailListener)"
                *ngIf="emailListener.status === EmailListenerStatus.LISTEN"
                class="w-20 cursor-pointer rounded-md bg-green-500 px-4 text-center text-neutral-100 shadow shadow-neutral-800 transition-all duration-200 hover:bg-green-400">
            {{emailListener.status}}
          </span>
          <span (click)="onMailListenerToggleStatus(emailListener)"
                *ngIf="emailListener.status === EmailListenerStatus.STOP"
                class="w-20 cursor-pointer rounded-md bg-red-600 px-4 text-center text-neutral-100 shadow shadow-neutral-800 transition-all duration-200 hover:bg-red-500">
            {{emailListener.status}}
          </span>
        </p>
        <button (click)="onMailListenerDeleteClick(emailListener)" class="cursor-pointer h-10 w-16 bg-neutral-700 flex justify-center
        items-center rounded-md hover:bg-neutral-600 transition-all duration-200 shadow shadow-neutral-900">
          <svg class="h-6 w-6 fill-red-500 transition-all duration-200 hover:fill-red-600">
            <use href="assets/sprite.svg#icon-clear"></use>
          </svg>
        </button>
      </div>
    </div>
  </section>
</div>
<app-overlay (click)="onModalCloseClick()"/>
