<section class="bg-primary-150">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
      <img class="w-8 h-8 mr-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="logo">
      <span class="text-primary-600 transition delay-150 duration-300 animate-bounce">
        Flow.ai
      </span>
    </a>
    <div class="w-full bg-white shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white text-center font-Monospace uppercase opacity-80">
          Sign In
        </h1>
        <hr>
        <form [formGroup]="loginForm" (ngSubmit)="handleLogin()" class="space-y-4 md:space-y-6" action="#">
          <div>
            <label for="email" class="block mb-2 text-sm font-medium  dark:text-white text-primary-1050">Email</label>
            <input formControlName="username" type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  placeholder="name@company.com" required=true>
          </div>
          <div>
            <label for="password" class="block mb-2 text-sm font-medium  dark:text-white text-primary-1050">Password</label>
            <input formControlName="password" type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500  outline-primary-1050" required=true>
          </div>
          <hr>
          <div class="flex items-center justify-between">
            <div class="flex items-start">
              <div class="flex items-center h-5">
                <input id="remember" aria-describedby="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800" required=true>
              </div>
              <div class="ml-3 text-sm">
                <label for="remember" class="text-gray-500 dark:text-gray-300">Remember me</label>
              </div>
            </div>
            <a [routerLink]="['/reset-password']" class="text-sm font-medium text-primary-600 hover:underline dark:text-primary-500">Forgot password?</a>
          </div>
          <button type="submit" class="w-full text-white bg-black opacity-75  focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800  hover:bg-black hover:opacity-80">Sign in</button>
          <p  class="text-sm font-light text-gray-500 dark:text-gray-400">
            Don’t have an account yet? <a [routerLink]="['/signup']" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Sign up</a>
          </p>
        </form>
      </div>
      <span class="" *ngIf="isPayloadWrong; then thenBlock"></span>
      <ng-template #thenBlock>
            <span class="bg-red-600 flex items-center justify-center text-neutral-100 h-12 rounded-b w-full">
              No username/password matches with given inputs.
            </span>
      </ng-template>
    </div>
  </div>
</section>
