<section class="flex w-full items-center gap-8 rounded-lg bg-neutral-900 shadow shadow-neutral-950 p-8">
  <svg class="h-16 w-16 rounded-full bg-neutral-800 fill-sky-500 p-2">
    <use href="assets/sprite.svg#icon-user"></use>
  </svg>
  <div class="flex flex-col gap-1">
    <p class="text-lg text-neutral-100">{{userSubject.value.username}}</p>
    <p class="text-neutral-300">{{userSubject.value.role}}</p>
    <p class="text-sky-500 text-sm">{{userSubject.value.firmName}}</p>
  </div>
</section>
